
@media (max-width: 740px) {
    #right_column {
        display: inline-block;
    }
}

.wsd_cart_page {
    margin-bottom: 15px;
}

.wsd_checkout_page_content {
    margin-bottom: 15px;
}

#payment_method .tab-content {
    border-left: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-right: solid 1px #ddd;
    height: auto !important;
    padding-bottom: inherit;
}

@media (max-width: 614px) {
    #wrap > div.container.oe_website_sale > div.row.wsd_payment_page_content > div.col-sm-3.col-sm-offset-1 > div {
        margin-left: 20px;
        margin-top: 20px;
    }
}


.payment_interval_ids.payment_interval_lines_ids.text-left {
    text-align: center;
}



#wsd-checkout-box > div > div.panel-body.text-center > form > div > div.product_price.mt16 > h4.oe_price_h4.css_editable_mode_hidden.decimal_precision > div > div {
    padding: 0 0;
}

/* Category "Anlassspenden" */
/* Hide add to cart button */

/* Shop Grid*/




/* Shop Grid END */
@media (max-width: 768px) {
    body[data-rootcatid="2"] #products_grid_before {
        display: none;
    }

    body[data-rootcatid="2"] .oe_grid .a-submit {
        display: none;
    }

    body[data-rootcatid="2"] .oe_product.oe_grid.oe-height-2 {
        height: 250px;

    }

    body[data-rootcatid="2"] #products_grid .oe_product {
        float: left;
        width: 350px;
        height: 250px;
        display: inline-block;
        margin: 2px;
    }

    /* Disabled by Mike */
    /*body[data-rootcatid="2"] .oe_product .oe_product_image img {*/
    /*    width: auto;*/
    /*    position: relative;*/
    /*}*/
    body[data-rootcatid="2"] .oe_product section {
        min-height: 30px;
    }

    body[data-rootcatid="2"] .oe_product section h5 {
        margin-top: 0.5em;
    }

    body[data-rootcatid="2"] .oe_product.oe_grid .oe_subdescription {
        margin-top: 0.5em;
        line-height: 140%;
    }

    body[data-rootcatid="2"] .oe_product .oe_product_image {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    /*
    body[data-rootcatid="2"] .oe_product .ribbon {
        font: bold 18px Sans-Serif;
        left: -58px;
        top: 12px;
        width: 220px;
        background-color: green;
        border: none;
    }
    */
    body[data-rootcatid="3"] #products_grid_before {
        display: none;
    }

    body[data-rootcatid="3"] .oe_grid .a-submit {
        display: none;
    }

    body[data-rootcatid="3"] .oe_product.oe_grid.oe-height-2 {
        height: 270px;
    }

    body[data-rootcatid="3"] .oe_product section {
        min-height: 120px;
    }

    body[data-rootcatid="3"] .oe_product section h5 {
        margin-top: 0.5em;
    }

    body[data-rootcatid="3"] .oe_product.oe_grid .oe_subdescription {
        margin-top: 0.5em;
        line-height: 140%;
    }

    body[data-rootcatid="3"] .oe_product .oe_product_image img {
        height: auto;
    }

    body[data-rootcatid="3"] .oe_product .oe_product_image {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #wsd_checkout_page_right_column {
        display: none;
    }
}

/*no media*/

body[data-rootcatid="2"] #products_grid_before {
    display: none;
}

body[data-rootcatid="2"] .oe_grid .a-submit {
    display: none;
}

body[data-rootcatid="2"] .oe_product.oe_grid.oe-height-2 {
    height: 250px;

}

body[data-rootcatid="2"] #products_grid .oe_product {
    width: 350px;
    height: 250px;
    margin: 2px;
}

body[data-rootcatid="2"] .oe_product .oe_product_image {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Disabled by Mike */
/*body[data-rootcatid="2"] .oe_product .oe_product_image img {*/
/*    width: auto;*/
/*    position: relative;*/
/*}*/

@media (max-width: 400px ) {
    .oe_product .oe_product_image img {
        margin: initial !important;
    }

    #products_grid .oe_product section {
        background: #D4121E !important;
    }

    #products_grid .oe_product .oe_product_image {
        bottom: 0px !important;
    }

}

