/* ----- */
/* LOGIN */
/* ----- */
body #website_sale_login_info {
    display: none;
}

/* ----------------------------- */
/* PRODUCT PAGE AND CHECKOUT BOX */
/* ----------------------------- */

/* Mitigate form on iframe integration at the NEW Website */
.container.oe_website_sale {
    margin-left: auto;
    margin-right: auto;
}

/* Center the Amount Title */
body #product_detail .amount_title {
    text-align: center;
}

/* Reset the price donate input */
body .price_donate .form-control {
    font-size: 24px;
    padding: inherit;
    color: inherit;
    text-align: inherit;
}

/* Add some space between donation buttons and input on small layout */
span.price_donate_suggested_outer {
    display: inline-block;
     margin-bottom: 12px;
}

/* Lower the checkoutbox to match the content on the left side */
body #wsd-checkout-box {
    margin-top: 16px;
}

/* Add some space between the text and the interval selection */
.payment_interval_ids div.form-group{
    margin-top: 12px;
}


/* ---- */
/* CART */
/* ---- */
.fa-shopping-cart:before {
    /*content: "\f06c";*/
    content: "\f184";
}
h3.small_cart_header a {
    color: #35477a;
}
.oe_website_sale .oe_cart #right_column {
    display: inline-block;
}

/* Order Total */
#order_total h3 {
    font-size: 18px;
}


/* --------------- */
/* STEPS INDICATOR */
/* --------------- */

/* Full width and Buttons below */
ul.checkout_steps_indicator {
    width: 100%;
}
div.checkout_steps_buttons {
    width: 100%;
    text-align: right;
    margin-top: 1em;
}

/* Hide the login Button TODO: I think there is a setting for this in the backend? */
#wsd_checkout_steps_nav a[href*="login"] {
    display: none;
}


/* -------- */
/* CHECKOUT */
/* -------- */
#wsd_checkout_form label.control-label.mandatory.text-danger {
    color: #b50227;
}
#wsd_checkout_form label.control-label.mandatory.text-danger:after {
    content: " *";
}


/* ONE PAGE CHECKOUT */
/* ----------------- */
/* Hide delivery section TODO: Should be done by xml */
.row .wsd_opc_delivery {
    display: none;
}

.ppt_opc h3.amount_title {
    text-align: center;
}


/* ------- */
/* PAYMENT */
/* ------- */
#payment_method .acquirer_pre_msg p {
    padding: 8px;
}

/* BIC ausblenden TODO: Must be done by xml! */
#aq4 > div:nth-child(6) {
    display: none;
}

/* E-Mail billing_address email ausblenden TODO: maybe not needed if renamed to "Ihre Angaben" */
.wsd_payment_page_content .payment_billing_address .billing_address .email {
    display: none;
}

/* Hide Checkbox for Zahlschein payment method */
#payment_method .do_not_send_payment_forms {
    display: none;
}

/* Payment Tabs */
/* ------------ */
#payment_method .nav > li > a {
    padding: 5px 5px;
}
#payment_method .nav.nav-tabs li.active a {
    background-color: #E3E3E3;
}
#payment_method .nav.nav-tabs li.active a:hover {
    background-color: #E3E3E3;
}
#payment_method .nav > li {
    /*min-width: 100px;*/
}
#payment_method .nav > li > a {
    padding: 5px 5px;
    text-align: center;
}
#payment_method .nav > li > a img {
    margin: 0 auto;
    width: 60px;
    height: 43px;
}
#payment_method .nav-tabs > li.active > a,
#payment_method .nav-tabs > li.active > a:hover,
#payment_method .nav-tabs > li.active > a:focus {
    color: #3d649e;
}

.wsd_button_back_to_page {
    display: none;
}
/* ---------------- */
/* ACQUIRER BUTTONS */
/* ---------------- */

/*[data-name='ogonedadi-submit-button'],*/
/*[data-name='frst-submit-button'] {*/
/*    max-width: 100%;*/
/*}*/

/* special Focus inside price_donate Field change default behavior from bootstrap base since launch */
#price_donate.btn-primary,
#price_donate.btn-primary:focus,
#price_donate.btn-primary:active,
#price_donate.btn-primary:hover {
    color: #364979;
    background-color: #fff;
    border-color: #364979;
}

/* Payment interval custom styles 2024-03-05 */

#payment_intervals {
    color: #777 !important;
}

#payment_intervals input[type='radio'] {
    accent-color: #d20028;
}
#payment_intervals .form-group::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 55px;
    background-size: contain;
    background: center / contain no-repeat url('/rnde_config/static/src/img/arrow_recurring.png');
    max-width: 100%;
}

#payment_intervals label:has(:not(input[data-payment-interval-external-id="website_sale_donate.once_only"]))::after {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background: center / contain no-repeat url('/rnde_config/static/src/img/heart.png');
}

@media (max-width: 662px) {
    #payment_intervals .form-group::after {
        height: 25px;
    }
    #payment_intervals label:has(:not(input[data-payment-interval-external-id="website_sale_donate.once_only"]))::after {
        width: 16px;
        height: 16px;
    }
}

#payment_intervals .radio {
    vertical-align: bottom;
}

#payment_intervals::after {
    content: "Regelmäßige Spenden helfen uns dauerhaft zu helfen.";
    display: block;
    margin: 8px;
    font-weight: normal;
    font-style: italic;
}

/* Price suggestion and price donate custom styles 2024-03-05 */

.arbitrary_price {
    font-size: 0px;
    display: flex;
    flex-wrap: wrap;
}

.price_donate_suggested_outer {
    margin: 0;
    padding: 0;
    display: block;
    flex: auto;
}

.price_donate_suggested.btn {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    border: 0px solid transparent;
    color: #777;
    background-color: #E3E3E3;
    border-radius: 0;
    text-shadow: none;
}

.price_donate_suggested.btn:focus {
    color: #fff;
    background-color: #d20028;
    outline: 0px solid transparent;
}

.price_donate_suggested_currency {
    display: none !important;
}

.form-group.price_donate,
.form-group.price_donate > .input-group {
    width: 100%;
}

.form-group.price_donate .input-group-addon {
    display: none;
}

.form-group.price_donate input {
    color: #777;
    background-color: #E3E3E3;
    border: 0px solid transparent;
    box-shadow: none;
    flex: 100%;
}

.form-group.price_donate input:focus {
    color: #fff;
    background-color: #d20028;
}
