/* ------------------- */
/* SHOP CATEGORY PAGES */
/* ------------------- */

/* special design for additional add to cart button within shop grid view */
.oe_product_cart .quick_add_to_cart {
    position: absolute;
    bottom: 10px;
}
.oe_product_cart .quick_add_to_cart .a-submit a {
    width: 100%;
}
.oe_product_cart .quick_add_to_cart .a-submit.fa-shopping-cart:before {
    padding-right:10px;
}

/* Product GRID */
/* ------------ */
#products_grid .oe_product section {
    background: #D4121E;
    font-size: 20px;
}
#products_grid .oe_product section h5 {
    font-size: 20px;
    text-align: center;
}
#products_grid .oe_product section a {
    color: white;
}
#products_grid .product_price.text-primary {
    color: white;
}
#products_grid .oe_product .oe_product_image img {
    height: 100%;
    max-height: initial;
    width: auto;
    max-width: initial;
}
body[data-rootcatid="4"] #products_grid .oe_product section {
    display: flex;
    flex-direction: column;
    height:100px;
    align-items: center;
    justify-content: center;
    padding: 2px 2px 2px 2px;
}
body[data-rootcatid="4"] #products_grid .oe_product section > h5 { order: 1; } /* Headline */
body[data-rootcatid="4"] #products_grid .oe_product section > div.product_price.text-primary { order: 2 }
body[data-rootcatid="4"] #products_grid .oe_product section > div.text-info.oe_subdescription { order: 3; }
body[data-rootcatid="4"] #products_grid .oe_product section :nth-child(4) { order: 3; }
body[data-rootcatid="4"] #products_grid .oe_product section > div.quick_add_to_cart { order: 4; }

body[data-rootcatid="4"] .oe_website_sale .products_pager .pagination > div.input-group {
    display: none;

}
body[data-rootcatid="4"] #products_grid .oe_product section {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    height: 160px;
    justify-content: normal;

}

/* special design for additional add to cart button within shop grid view */
.oe_product_cart .quick_add_to_cart {
    position: absolute;
    bottom: 10px;
}
.oe_product_cart .quick_add_to_cart .a-submit a {
    width: 100%
}
.oe_product_cart .quick_add_to_cart .a-submit.fa-shopping-cart:before {
    padding-right:10px;
}
/* reverse Shop Grid and Cart, move cart under shop grid */
body[data-rootcatid="2"] #wrap > div.container.oe_website_sale > div.row {
    display: flex;
    flex-direction: column-reverse;
}
/* reverse Shop Grid and Cart, move cart under shop grid */
body[data-rootcatid="3"] #wrap > div.container.oe_website_sale > div.row {
    display: flex;
    flex-direction: column-reverse;
}
/* reverse Shop Grid and Cart, move cart under shop grid */
body[data-rootcatid="4"] #wrap > div.container.oe_website_sale > div.row {
    display: flex;
    flex-direction: column-reverse;
}

/* Product kacheln */
body[data-rootcatid="4"] .quick_add_to_cart .btn.btn-default.btn-xs.fa.fa-shopping-cart.a-submit {
    font-size: 1.4rem;
    line-height: 1.35em;
    padding: 0.6rem 1rem;
    font-weight: 700 !important;
    display: inline-block;
    white-space: normal;
    text-align: left;
    background-color: #364979;
    border: 3px solid #hite;
    border-radius: 0px;
    background-image: none !important;
    text-shadow: none;
}
body[data-rootcatid="4"] #products_grid .oe_product .oe_product_image img {
    height: 100%;
    max-height: initial;
    width: auto;
    max-width: initial;
}
body[data-rootcatid="4"] .oe_product .oe_product_image {
     left: 0px;
     right: 0px;
     top: 0px;
     bottom: 160px !important;
}
body[data-rootcatid="4"] .oe_product .product_price {
     padding: 0 0;
     position: initial;
}
@media (max-width: 400px) {
    body[data-rootcatid="4"] .oe_product .oe_product_image {
        bottom: 160px !important;
    }

    body[data-rootcatid="4"] #products_grid .oe_product {
        width: 340px !important;
        height: 500px !important;
    }
    #products_grid > section {

    }
    body[data-rootcatid="4"] #products_grid .oe_product section {
        height: 160px !important;
    }
}

@media (max-width: 480px) {
    body[data-rootcatid="4"] #products_grid .oe_product {
        width: 340px !important;
        height: 500px !important;
    }
}
/*@media (max-width: 390px) {
    body[data-rootcatid="4"] #products_grid .oe_product {
        width: 300px !important;
        height: 500px !important;
    }
}*/
@media (max-width: 280px) {
    body[data-rootcatid="4"] #products_grid .oe_product {
        width: 220px !important;
        height: 380px !important;
    }
    body[data-rootcatid="4"] #products_grid .oe_product img {
        width: 220px !important;
        height: auto !important;
    }
}

/* reverse Shop Grid and Cart, move cart under shop grid */
body[data-rootcatid="4"] #wrap > div.container.oe_website_sale > div.row {
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
}
body[data-rootcatid="4"] .text-left.small_cart_buttons {
    display: none;
}

/* TODO: Shop Grid Size for col md-12 and two products per row
         You may need to remove the original css of website.sale becaues the media queries are different for rnde!
*/
body .col-md-12 .oe-height-2 {
  height: 380px;
}
/* bis 400 px */
@media (max-width: 400px) {
    body #products_grid .oe_product section {
        background: #D4121E;
    }
}
/* ab 992px */
@media (min-width: 992px) {
    body .col-md-12 .oe-height-2 {
        height: 380px;
    }
}
@media (max-width: 768px) {
    #products_grid .oe_product {
        width: 220px !important;
        height: 380px !important;
    }
}
/* ab 1200px */
@media (min-width: 1200px) {
    body .col-md-12 .oe-height-2 {
        height: 380px;
    }
}
