/* FOOTER */
body #wrapwrap footer {
    /* ATTENTION: The height can not be 100% anywhere or iframeresizer may just expand but never shrink the iframe!
                  Therefore we reset the height of the footer to auto!
    */
    height: auto;
}


/* ------------------- */
/* BOOTSTRAP MODAL BOX */
/* ------------------- */
/* Modal Box Trigger */
.btn-link.information-modal-box-trigger:hover {
    color: #b50227;
}

/* -------------------- */
/* BOOTSTRAP NAVIGATION */
/* -------------------- */
.navbar-default .navbar-nav > li > a {
    color: #35477a;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #b50227;
}
.dropdown-menu > li > a {
    color: #b50227;
}
.dropdown-menu > li > a:hover {
    color: white;
    background-color: #b50227;
    -webkit-transition: color 0.3s ease 0s;
    -moz-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    -ms-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
    background-color: #bf0232;
}


/* ------------------- */
/* DEFAULT ODOO COLORS */
/* ------------------- */
body .oe_grey {
    background-color: #eee !important;
}
body .oe_grey_light {
    background-color: #eeeeeec7 !important;
}
body .oe_red {
    background-color: #b50227 !important;
    color: white;
}
body .oe_white {
    background-color: #ffffff !important;
}
body .oe_green {
    background-color: #63bc46 !important;
}
body .oe_blue {
    background-color: #35477a !important;
    color: white;
}
